.textfield{
    display: block;
    width: 100%;
    appearance: none;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: rgb(229 231 235 / 1 );
    background-color: rgb(255 255 255 / 1);
    padding: calc(0.5rem - 1px) calc(0.75rem - 1px);
    color: rgb(17 24 39 /  1);
}

.textfield::placeholder{
    color: rgb(156 163 175 /  1);
}

.textfield:focus{
    border-color: rgb(6 182 212 /  1);
    outline: none;
    --ring-color: rgb(6 182 212 / 1);
}


.label{
    margin-bottom: 0.5rem;
    display: block;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: rgb(17 24 39 /  1);
}


@media (min-width: 640px){
    .textfield{
        font-size: 0.875rem;
        line-height: 1.5rem;
    }
}